@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  opacity: 0;
  animation: show 750ms infinite ease-in;
}

@keyframes show {
  0%,
  100% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}

.content {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  opacity: 0;
  transition: all 250ms ease-in;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content:hover > .overlay {
  opacity: 1;
}
